<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1064043372448-qo06iqmg1c0v8vnpud0n0cba7q0dquua.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1064043372448-qo06iqmg1c0v8vnpud0n0cba7q0dquua</string>
	<key>API_KEY</key>
	<string>AIzaSyBNS5LcX_v6bdZD7G5tFmWNpul-zvVuPRY</string>
	<key>GCM_SENDER_ID</key>
	<string>1064043372448</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.horizon.trainingExample</string>
	<key>PROJECT_ID</key>
	<string>trainingexample-f3dec</string>
	<key>STORAGE_BUCKET</key>
	<string>trainingexample-f3dec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1064043372448:ios:b5d014bf4e7b4c810dcec5</string>
</dict>
</plist>